{% extends "shared.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="m-2 d-flex justify-content-end">
            <a class="btn mb-1 btn-primary" href="{% url 'download_csv' %}">
                <i class="bi bi-download"></i>
                <span>Download CSV</span>
            </a>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">temperature and humidity Data</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Temperature</th>
                            <th>Humidity</th>
                            <th>Date Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data_entry in dht_data %}
                        <tr>
                            <td>{{ data_entry.id }}</td>
                            <td>{{ data_entry.temp }}</td>
                            <td>{{ data_entry.hum }}</td>
                            <td>{{ data_entry.dt }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}