{% extends "shared.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Temperature</h5>
                <canvas id="temp" style="max-height: 400px;"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        // Fetch data from the backend
                        fetch('/chart-data/')
                            .then(response => response.json())
                            .then(data => {
                                new Chart(document.querySelector('#temp'), {
                                    type: 'line',
                                    data: {
                                        labels: data.temps,
                                        datasets: [{
                                            label: 'Line Chart',
                                            data: data.temperature,
                                            fill: true,
                                            backgroundColor: 'rgba(255, 154, 91,0.4)',
                                            borderColor: 'rgb(238, 127, 70)',
                                            tension: 0.1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Humidity</h5>
                <canvas id="hum" style="max-height: 400px;"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        // Fetch data from the backend
                        fetch('/chart-data/')
                            .then(response => response.json())
                            .then(data => {
                                new Chart(document.querySelector('#hum'), {
                                    type: 'line',
                                    data: {
                                        labels: data.temps,
                                        datasets: [{
                                            label: 'Line Chart',
                                            data: data.humidity,
                                            fill: true,
                                            backgroundColor: 'rgba(117, 113, 249,0.4)',
                                            borderColor: 'rgb(117, 113, 249)',
                                            tension: 0.1
                                        }]
                                    }
                                });
                            });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Temperature and Humidity</h5>
                <canvas id="humandtemp" style="max-height: 400px;"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        // Fetch data from the backend
                        fetch('/chart-data/')
                            .then(response => response.json())
                            .then(data => {
                                new Chart(document.querySelector('#humandtemp'), {
                                    type: 'bar',
                                    data: {
                                        labels: data.temps,
                                        datasets: [
                                                {
                                            label: "Humidity",
                                            data: data.humidity,
                                            backgroundColor: 'rgba(255, 154, 91,0.4)',
                                                  borderColor: 'rgba(238, 127, 70)',
                                                borderWidth: 1
                                          },
                                          {
                                             label: "Temperature",
                                             data: data.temperature,
                                             backgroundColor: 'rgba(117, 113, 249,0.4)',
                                             borderColor: 'rgba(117, 113, 249,1)',
                                             borderWidth: 1
                                          }
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                        plugins: {
                                          legend: {
                                            position: 'top',
                                          }
                                        }
                                      },
                                        });
                                    });
                            });
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}