{% extends "shared.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Temperature By Day</h5>
                <!-- Line Chart -->
                <canvas id="temp" style="max-height: 400px;"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        // Fetch data from the backend
                        fetch('/chart-data-jour/')
                            .then(response => response.json())
                            .then(data => {
                                new Chart(document.querySelector('#temp'), {
                                    type: 'line',
                                    data: {
                                        labels: data.temps,
                                        datasets: [{
                                            label: 'Line Chart',
                                            data: data.temperature,
                                            fill: true,
                                            backgroundColor: 'rgba(255, 154, 91,0.4)',
                                            borderColor: 'rgb(238, 127, 70)',
                                            tension: 0.1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                    });
                </script>
                <!-- End Line CHart -->
            </div>
        </div>
    </div>
</div>
{% endblock %}